@model List<BusinessLogic.ViewModels.FolderNodeViewModel>

<ul class="list-unstyled ps-3 my-1 border-start border-secondary-subtle">
    @foreach (var folder in Model)
    {
        var folderFile = folder.FolderLogFile;

        @if (folderFile is null)
        {
            continue;
        }

        <li class="mb-2">
            <button type="button"
                    class="btn btnBrown btn-sm d-flex align-items-center gap-2 folder-toggle-btn text-start w-100"
                    onclick="toggleFolderContainer(this)"
            >
                <img src="~/icons/folder-icon.svg" alt="folder icon" width="20" height="20" />

                <span class="fw-medium">@folderFile.ItemName | v.@folderFile.VersionNumber</span>

                @if (
                    folderFile.ChangeType == BusinessLogic.ViewModels.ChangeType.Created
                )
                {
                    <span class="badge bg-success rounded-pill">Added</span>
                }
                
                @if (
                    folderFile.ChangeType == BusinessLogic.ViewModels.ChangeType.Modified
                )
                {
                    <span class="badge bg-primary rounded-pill">Updated</span>
                }

                @if (
                    folderFile.ChangeType == BusinessLogic.ViewModels.ChangeType.Deleted
                )
                {
                    <span class="badge bg-danger rounded-pill">Deleted</span>
                }
            </button>


            <div class="folder-content-pane d-none ps-2 mt-2">

                <!-- Render Subfolders inside this folder -->
                @if (folder.SubFolders != null && folder.SubFolders.Any())
                {
                    @await Html.PartialAsync("_TreeBranchPartial", folder.SubFolders)
                }

                <!-- Render Files inside this folder -->
                @if ((folder.Files != null && folder.Files.Any()) ||
                    (folder.SubFolders != null && folder.SubFolders.Any())
                )
                {
                    <ul class="list-unstyled ps-3 my-1 border-start border-info-subtle">
                        @foreach (var file in folder.Files)
                        {
                            @if (folder.SubFolders.Any(f => f.Name == file.ItemName)) continue;

                                <li class="py-1 text-secondary d-flex align-items-center gap-2 small">
                                    @if (file.Type == BusinessLogic.ViewModels.ItemType.File)
                                    {
                                        <img src="~/icons/file-icon.svg" alt="folder icon" width="20" height="20" />
                                    }
                                    else
                                    {
                                        <img src="~/icons/folder-icon.svg" alt="folder icon" width="20" height="20" />
                                    }

                                    <span style="color: black;">@file.ItemName | v.@file.VersionNumber</span>

                                    @if (
                                        file.ChangeType == BusinessLogic.ViewModels.ChangeType.Created
                                    )
                                    {
                                        <span class="badge bg-success rounded-pill">Added</span>
                                    }

                                    @if (file.ChangeType == BusinessLogic.ViewModels.ChangeType.Modified
                                    )
                                    {
                                        <span class="badge bg-primary rounded-pill">Updated</span>
                                    }

                                    @if (file.ChangeType == BusinessLogic.ViewModels.ChangeType.Deleted
                                    )
                                    {
                                        <span class="badge bg-danger rounded-pill">Deleted</span>
                                    }
                                </li>
                        }
                    </ul>
                }

                @* Empty folder indicator *@
                @if ((folder.SubFolders == null || !folder.SubFolders.Any()) && (folder.Files == null || !folder.Files.Any()))
                {
                    <div class="text-muted small ps-4 italic py-1">Empty directory</div>
                }
            </div>
        </li>
    }
</ul>
